.result__header{
	background-image: url('../../../image/message.png');
	background-repeat: no-repeat;
	min-height: 184px;
	margin: 0 auto;
}

@media all and (max-width: 800px){
	.result__header{
		background-size: 259px 94px;
		max-width: 259px;
		min-height: 94px;
	}
}