.animation-sound_percent{
	font-weight: 300;
	text-align: center;
  font-size: 20px;
	line-height: 23px;
  letter-spacing: 0.1em;
	color: rgba(255, 255, 255, 0.6);
	padding: 24px 0 12px;
	margin: 0 auto;
}