.result__text_footer{
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	/* or 150% */

	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #9D9D9D;
	margin: 0 auto;
	padding-top: 53px;
}

@media all and (max-width: 800px){
	.result__text_footer{
		font-size: 7px;
		line-height: 9px;
		padding-top: 18px;
	}
}