.result__button{
	width: 402px;
	height: 80px;
	background: linear-gradient(90deg, rgba(76, 217, 100, 0.9) -6.2%, rgba(50, 185, 73, 0.9) 100%);
	border-radius: 50px;
	border: none;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	color: #FFFFFF;
}

@media all and (max-width: 800px){
	.result__button{
		width: 242px;
		height: 48px;
		font-size: 14px;
		line-height: 16px;
	}
}