.secret{
	max-width: 442px;
	min-height: 437px;
	position: relative;
	margin: 0 auto;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 3px;
	margin-bottom: 69px;
}

@media all and (max-width: 800px){
	.secret{
		max-width: 255px;
		min-height: 252px;
		margin-bottom: 40px;
	}
}