.card__logo-eye{
	position: absolute;
	top: 145px;
	right: -53px;
	width: 146px;
	height: 77px;
}

@media all and (max-width: 800px){
	.card__logo-eye{
		width: 84px;
		height: 44px;
		right: 0px;
    top: 75px;
	}
}