.opros__commits{
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.1em;

	color: rgba(255, 255, 255, 0.6);
	margin: 0 auto;
	padding-top: 148px;
	padding-bottom: 20px;
	
}

@media all and (max-width: 800px){
	.opros__commits{
		font-size: 12px;
		line-height: 14px;
		padding-top: 36px;
		padding-bottom: 46px;
	}
}