.header{
	background-image: url('../../image/blick.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin: 0 auto;
}

@media all and (max-width: 800px){
	.header{
		background-image: url('../../image/blik-small.png');
		max-width: 100%;
		background-position: 30px 70px;
	}
}