.footer__text{
	font-family: 'Bad Script', cursive;
	padding: 80px 0;
	margin: 0 auto;
	font-weight: normal;
	font-size: 25px;
	line-height: 35px;
	/* or 140% */
	text-align: center;
	color: #FFFFFF;
	max-width: 300px;
}

@media all and (max-width: 800px){
	.footer__text{
		font-size: 20px;
		line-height: 28px;
		padding: 35px 0;
		max-width: 235px;
	}
}