.animation-loading{
	position: fixed;
  left: 0;
  top: 0;
	width: 100%;
	height: 100%;
	background-color: #202024;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}