.commits{
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.1em;

	color: rgba(255, 255, 255, 0.6);
	margin: 0 auto;
}

@media all and (max-width: 800px){
	.commits{
		font-size: 12px;
		line-height: 14px;
	}
}