.result__header-title_bold{
	text-align: center;
	font-size: 25px;
	line-height: 35px;
	font-weight: bold;
	text-transform: uppercase;
}

@media all and (max-width: 800px){
	.result__header-title_bold{
		font-size: 12px;
		line-height: 18px;
		
	}
}