.result__text_fetch{
	font-weight: 300;
	font-size: 10px;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	max-width: 480px;
	margin: 0 auto;
	padding-top: 20px;
}

@media all and (max-width: 800px){
	.result__text_fetch{
		font-size: 8px;
		line-height: 16px;

	}
}