.result__prediction_frame{
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 64px 50px 38px;
	margin: 0 auto;
}

@media all and (max-width: 800px){
	.result__prediction_frame{
		padding: 13px 15px 8px;
		max-width: 259px;
	}
}