.secret__text{
	max-width: 365px;
	min-height: 225px;
	font-weight: normal;
	font-size: 25px;
	line-height: 35px;
	/* or 140% */
	text-align: center;
	color: #FFFFFF;
	margin: 0 auto;
	padding: 129px 0 84px;
}

@media all and (max-width: 800px){
	.secret__text{
		max-width: 210px;
		min-height: 162px;
		font-size: 16px;
		line-height: 25px;
		padding: 58px 0 32px;
	}
}