.opros__btn{
	margin: 0 0 35px 0;
	width: 316px;
	min-height: 70px;
	background: linear-gradient(248.67deg, rgba(254, 173, 53, 0.9) 24.04%, rgb(248, 242, 210, 0.9) 46.06%, rgba(254, 173, 53, 0.9) 74.04%);
	border-radius: 50px;
	border: none;
	color: #fff;
	font-size: 20px;
	line-height: 23px;
}

@media all and (max-width: 800px){
	.opros__btn{
		margin: 0 0 20px 0;
		width: 182px;
		min-height: 40px;
		font-size: 14px;
		line-height: 16px;
	}
}