.test__title{
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
	text-transform: uppercase;
	color: #F6C866;
	margin: 0 auto;
	padding-bottom: 47px;
}

@media all and (max-width: 800px){
	.test__title{
		font-size: 16px;
		line-height: 19px;
		padding-bottom: 27px;
	}
}