.proof__text{
	font-weight: normal;
	font-size: 25px;
	line-height: 35px;
	/* or 140% */
	text-align: center;
	color: #FFFFFF;
	max-width: 380px;
	margin: 0 auto;
}

@media all and (max-width: 800px){
	.proof__text{
		max-width: 219px;
		font-size: 16px;
		line-height: 25px;
	}
}