@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/root/root.css');

@import url('../blocks/cards-input/cards-input.css');

@import url('../blocks/card/card.css');
@import url('../blocks/card/__header/card__header.css');
@import url('../blocks/card/__subtitle/card__subtitle.css');
@import url('../blocks/card/__logo-eye/card__logo-eye.css');
@import url('../blocks/card/__logo-moon/card__logo-moon.css');
@import url('../blocks/commits/commits.css');
@import url('../blocks/opros/__commits/opros__commits.css');
@import url('../blocks/opros/opros.css');
@import url('../blocks/opros/__title/opros__title.css');
@import url('../blocks/opros/__btn/opros__btn.css');


@import url('../blocks/opros/__input/opros__input.css');
@import url('../blocks/opros/__input/_error/opros__input_error.css');
@import url('../blocks/opros/__input/_placeholder/opros__input_placeholder.css');

@import url('../blocks/animation-loading/animation-loading.css');
@import url('../blocks/animation-loading/_disable/animation-loading_disable.css');
@import url('../blocks/animation-loading/__image/animation-loading__image.css');
@import url('..//blocks/animation-loading/__text/animation-loading__text.css');


@import url('../blocks/animation-sound/animation-sound.css');
@import url('../blocks/animation-sound/_disable/animation-sound_disable.css');
@import url('../blocks/animation-sound/__image/animation-sound__image.css');
@import url('../blocks/animation-sound/__text/animation-sound__text.css');
@import url('../blocks/card/__subtitle/_message/card__subtitle_message.css');


@import url('../blocks/card/__content/card__content.css');
@import url('../blocks/card/__header/_content/card__header_content.css');
@import url('');